.App {
  background-color: hsl(240, 100%, 90%);
  padding: 20px;
}

main {
  /* placeholder */
}

.app-title {
  margin-bottom: 15px;
}

.quote-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.quote-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 10px;
  background-color: hsl(240, 100%, 80%);
  border: 1px solid hsl(240, 100%, 70%);
  border-radius: 10px;
}

.quote-author {
  font-weight: 700;
}

.quote-text {
  font-weight: 500;
  line-height: 1.6;
}
